workflow-chatbot-telegram.json
{
  "name": "workflow-chatbot-telegram",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.statusCode }}",
              "operation": "notEqual",
              "value2": "200"
            },
            {
              "value1": "={{ $json.error }}",
              "operation": "isEmpty"
            },
            {
              "value1": "={{ $json.country }}",
              "value2": "BR"
            }
          ]
        }
      },
      "id": "cc53be0e-5dd9-4a1f-8feb-71a27b7d5875",
      "name": "Check Status",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -720,
        64
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger - FTR BR Weather Bot').item.json.message.from.id }}",
        "text": "={{ $json?.content?.parts[0]?.text || $('Code in JavaScript').item.json.fallback_message }}",
        "additionalFields": {}
      },
      "id": "81e9534a-fd7f-44a1-a929-3bf3ee820f60",
      "name": "Send Weather",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        -144,
        -32
      ],
      "webhookId": "421515f8-0c94-4d57-a963-582ef93644e8",
      "credentials": {
        "telegramApi": {
          "id": "mHCLpPrqo4seRWb1",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger - FTR BR Weather Bot').item.json.message.from.id }}",
        "text": "❌ Cidade não encontrada. Use o formato Cidade,UF (ex.: São Paulo,SP).",
        "additionalFields": {}
      },
      "id": "2cd781e2-fb06-4f28-8c9f-05b9adea673a",
      "name": "Send Error",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        -432,
        160
      ],
      "webhookId": "08b5d37d-446e-4d27-a89c-2080da436eee",
      "credentials": {
        "telegramApi": {
          "id": "mHCLpPrqo4seRWb1",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Acessa o primeiro item do array\nconst weatherData = $input.first().json;\n\n// Extrai os dados necessários\nconst cityName = weatherData?.name;\nconst temperature = weatherData?.main?.temp;\nconst description = weatherData?.weather?.[0]?.description;\nconst statusCode = weatherData?.cod;\nconst country = weatherData?.sys?.country;\nconst feelsLike = weatherData?.main?.feels_like;\nconst windSpeed = weatherData?.wind?.speed;\nconst humidity = weatherData?.main?.humidity;\n\n// Arredonda temperaturas\nconst tempRounded = Math.round(temperature);\nconst feelsRounded = Math.round(feelsLike);\n\n// Emoji baseado na condição\nlet emoji = \"🌡️\";\nif (description?.includes(\"chuva\") || description?.includes(\"chuvisco\")) emoji = \"🌧️\";\nelse if (description?.includes(\"nublado\") || description?.includes(\"nuvens\")) emoji = \"☁️\";\nelse if (description?.includes(\"limpo\") || description?.includes(\"céu\")) emoji = \"☀️\";\nelse if (description?.includes(\"neve\")) emoji = \"❄️\";\nelse if (description?.includes(\"trovoada\")) emoji = \"⛈️\";\n\n// Mensagem fallback completa (substitui o Gemini quando não houver credenciais)\nconst fallbackMessage = `${emoji} Clima em ${cityName} (${country})\\n🌡️ Temperatura: ${tempRounded}°C\\n🤗 Sensação: ${feelsRounded}°C\\n💧 Humidade: ${humidity}%\\n💨 Vento: ${windSpeed} m/s\\n${emoji} ${description}`;\n\nconst error = $input.first().json?.error?.description\n\nreturn {\n  json: {\n    city: cityName,\n    country: country,\n    temperature: temperature,\n    temperatureRounded: tempRounded,\n    feelsLike: feelsLike,\n    windSpeed: windSpeed,\n    humidity: humidity,\n    description: description,\n    fallback_message: fallbackMessage,\n    statusCode: statusCode,\n    error: error\n  },\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -944,
        64
      ],
      "id": "05f717e8-4695-40f4-82ec-7a29826b17e3",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "url": "https://api.openweathermap.org/data/2.5/weather",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openWeatherMapApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "={{ $json.queue }}"
            },
            {
              "name": "lang",
              "value": "pt_BR"
            },
            {
              "name": "units",
              "value": "metric"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -1168,
        64
      ],
      "id": "c358cd12-9ff3-4b84-bdb2-419f2666b413",
      "name": "OpenWeatherMap",
      "retryOnFail": false,
      "executeOnce": false,
      "alwaysOutputData": false,
      "credentials": {
        "openWeatherMapApi": {
          "id": "Pbf5h4hlhAPuiCrz",
          "name": "OpenWeatherMap account"
        },
        "httpQueryAuth": {
          "id": "R0MQwvRqbl2oWilI",
          "name": "OpenWeatherMap Auth"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "queue",
              "value": "={{ $json.message.text.split(\",\")[0].toLowerCase().trim().normalize(\"NFD\").replace(/[\\u0300-\\u036f]/g, \"\").replace(/\\s+/g, \" \") }}"
            }
          ]
        },
        "options": {}
      },
      "id": "f43f66f4-1310-4de7-a779-5d7ca1e4ef2c",
      "name": "Formatar Message",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -1392,
        64
      ]
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -1616,
        64
      ],
      "id": "a424431a-0478-45b7-a586-50967e094a4d",
      "name": "Telegram Trigger - FTR BR Weather Bot",
      "webhookId": "d7d3ccd1-9643-4f31-9ac0-8b1215b5bd7e",
      "credentials": {
        "telegramApi": {
          "id": "jqVYpvfkB0fzLjYG",
          "name": "Telegram account - FTR BR Weather Bot"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=Dados do clima:\n- Cidade: {{ $json.city }}\n- Temperatura: {{ $json.temperatureRounded }}°C\n- Sensação térmica: {{ $json.feelsLike }}°C\n- Condição: {{ $json.description }}\n- Umidade: {{ $json.humidity }}%\n- Vento: {{ $json.windSpeed }} m/s"
            }
          ]
        },
        "builtInTools": {},
        "options": {
          "systemMessage": "=Você é um assistente de clima que melhora mensagens sobre previsão do tempo.\n\nInstruções:\n1. Crie uma mensagem natural e amigável em português brasileiro\n2. Use emojis apropriados para o clima\n3. Forneça uma dica útil baseada nas condições (ex: levar guarda-chuva, usar protetor solar)\n4. Mantenha a mensagem concisa (máximo 5 linhas)\n5. NÃO cumprimente a cidade como se fosse uma pessoa (ex: \"E aí, São Paulo!\" está ERRADO)\n6. NÃO use saudações como \"E aí\", \"Olá\", \"Oi\" no início\n7. Refira-se à cidade apenas como localização (ex: \"Em São Paulo, o clima está...\")\n8. NÃO assuma o nome do usuário — você não sabe quem está lendo",
          "temperature": 0.2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        -496,
        -32
      ],
      "id": "f18dbf76-b5aa-45c7-8b8e-a666963fad0e",
      "name": "Message a model",
      "retryOnFail": false,
      "alwaysOutputData": true,
      "credentials": {
        "googlePalmApi": {
          "id": "Awupt22cAO3MCytE",
          "name": "Google Gemini(PaLM) Api account"
        }
      },
      "onError": "continueErrorOutput"
    }
  ],
  "pinData": {},
  "connections": {
    "Check Status": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Check Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenWeatherMap": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatar Message": {
      "main": [
        [
          {
            "node": "OpenWeatherMap",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger - FTR BR Weather Bot": {
      "main": [
        [
          {
            "node": "Formatar Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Send Weather",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Weather",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "50d92ddd-c99e-444b-971b-cf357d1e807b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "16f674bf5d133e8bf1a86676719df44a64b8277f15bf5667eeb9dbc9bc95b2a1"
  },
  "id": "wRV5GuFhFURyph9Uj_JV6",
  "tags": []
}